.scroll-pane {
	position:relative;
	top:37px;
	height: 320px;
	margin-right: 9px;	
}
.jspContainer
{
	overflow: hidden;
	position: relative;

}

.jspPane
{
	position: absolute;
	margin-left: 15px;
	margin-top: -12px;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: #aab5c4;	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */	
	
	
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{

	position: absolute;
	left:-1000em;
	visibility:hidden;
	

}

.jspDrag
{
	background:#6D829D;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */	
	
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}
.jspArrow.jspDisabled
{
	cursor: default;
}
.jspArrowUp {
	position:relative;
	top:140px;
	background: url(../images/scroll-drag.jpg)  center 2px no-repeat;	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */	
	z-index: 100000;
	
}
.jspArrowDown {
	position:relative;
	top:150px;
	background: url(../images/scroll-drag.jpg) center -30px no-repeat;	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px; /* future proofing */
	-khtml-border-radius: 7px; /* for old Konqueror browsers */	
	
}


.jspVerticalBar .jspArrow
{
	height: 20px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
